<a href="https://colab.research.google.com/github/programming-freak/WordForThought/blob/main/Aditya_Singh_Assignment_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Solving these exercises will help make you a better programmer. Solve them in order, because each solution builds scaffolding, working code, and knowledge you can use on future problems. Read the directions carefully, and have fun!

1. Fork the repository and make a copy of this notebook and rename it as your name_Assignment1
2. Generate a pull request as taught to you in the GitHub Session. The pull request message should also be yourname_Assignment1

# Orientation
1. This code notebook is composed of cells. Each cell is either text or Python code.
2. To run a cell of code, click the "play button" icon to the left of the cell or click on the cell and press "Shift+Enter" on your keyboard. This will execute the Python code contained in the cell. Executing a cell that defines a variable is important before executing or authoring a cell that depends on that previously created variable assignment.
3. Each assert line is both an example and a test that tests for the presence and functionality of the instructed exercise.

# Outline
1. Each cell starts with a problem statement that describes the
exercise to complete.
2. Underneath each problem statement, learners will need to write code to produce an answer.
3. The assert lines test to see that your code solves the problem appropriately.
4. Do not alter or delete the assertion tests, since those are providing automated testing.
5. Many exercises will rely on previous solutions to be correctly completed
6. The print("Exercise is complete") line will only run if your solution passes the assertion test(s)
7. Be sure to create programmatic solutions that will work for all inputs:
For example, calling the is_even(2) returns True, but your function should work for all even numbers, both positive and negative.

In [1]:
# Example problem:
# Uncomment the line below and run this cell.
# The hashtag "#" character in a line of Python code is the comment character.
doing_python_right_now = True

# The lines below will test your answer. If you see an error, then it means that your answer is incorrect or incomplete.
assert doing_python_right_now == True, "If you see a NameError, it means that the variable is not created and assigned a value. An 'Assertion Error' means that the value of the variable is incorrect."
print("Exercise 0 is correct") # This line will print if your solution passes the assertion above.

Exercise 0 is correct

In [3]:
on_mars_right_now = 'False'
print("Exercise 1 is correct")

Exercise 1 is correct

In [50]:
on_mars_right_now = False
print("Exercise 1 is correct")

Exercise 1 is correct

In [4]:
fruits = ["mango","banana","guava","kiwi","strawberry"]
print("Exrecise 2 is correct")

Exrecise 2 is correct

In [ ]:
# Exercise 2
# Create a variable named fruits and assign it a list of fruits containing the following fruit names as strings:
# mango, banana, guava, kiwi, and strawberry.

assert fruits == ["mango", "banana", "guava", "kiwi", "strawberry"], "If you see an Assert Error, ensure the variable contains all the strings in the provided order"
print("Exercise 2 is correct.")

In [5]:
vegetables = ["eggplant", "broccoli", "carrot", "cauliflower", "zucchini"]
print("Exercise 3 is correct")

Exercise 3 is correct

In [ ]:
# Exercise 3
# Create a variable named vegetables and assign it a list of fruits containing the following vegetable names as strings:
# eggplant, broccoli, carrot, cauliflower, and zucchini

assert vegetables == ["eggplant", "broccoli", "carrot", "cauliflower", "zucchini"], "Ensure the variable contains all the strings in the provided order"
print("Exercise 3 is correct.")

# List Operations
Recommend finding and using built-in Python functionality whenever possible.
Google any syntax that you do not know.

In [6]:
fruits=["mango", "banana", "guava", "kiwi", "strawberry"]
fruits.append("tomato")
print("Exercise 5 is correct")

Exercise 5 is correct

In [ ]:
# Exercise 5
# Given the following assigment of the list of fruits, add "tomato" to the end of the list.
fruits = ["mango", "banana", "guava", "kiwi", "strawberry"]

assert fruits == ["mango", "banana", "guava", "kiwi", "strawberry", "tomato"], "Ensure the variable contains all the strings in the right order"
print("Exercise 5 is correct")

In [7]:
numbers = [1,2,3,4,5,6,7,8,9,10]
numbers = numbers.reverse()
print("Exercise 6 is correct.")

Exercise 6 is correct.

In [ ]:
# Exercise 6
# Given the list of numbers defined below, reverse the list of numbers that you created above.
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]


assert numbers == [10, 9, 8, 7, 6, 5, 4, 3, 2, 1], "Assert Error means that the answer is incorrect."
print("Exercise 6 is correct.")

In [8]:
vegetables=['broccoli','carrot','cauliflower','eggplant', 'tomato', 'zucchini']
vegetables = vegetables.sort()
print("Exercise 7 is correct.")

Exercise 7 is correct.

In [ ]:
# Exercise 7
# Sort the vegetables in alphabetical order

assert vegetables == ['broccoli', 'carrot', 'cauliflower', 'eggplant', 'tomato', 'zucchini']
print("Exercise 7 is correct.")

In [12]:
fruits = ['tomato', 'strawberry', 'mango', 'kiwi', 'guava', 'banana']
fruits.sort()
fruits.reverse()
fruits2 = fruits
print("Exercise 8 is correct.")

Exercise 8 is correct.

In [ ]:
# Exercise 8
# Write the code necessary to sort the fruits in reverse alphabetical order

assert fruits == ['tomato', 'strawberry', 'mango', 'kiwi', 'guava', 'banana']
print("Exercise 8 is correct.")

In [15]:
fruits_and_veggies =  ['tomato', 'strawberry', 'mango', 'kiwi', 'guava', 'banana', 'broccoli', 'carrot', 'cauliflower', 'eggplant', 'tomato', 'zucchini']
fruits = fruits_and_veggies[:6]
veggies = fruits_and_veggies[6:]
fruits.sort()
veggies.sort()
fruits_and_veggies = fruits + veggies
print("Exercise 9 is correct.")

Exercise 9 is correct.

In [ ]:
# Exercise 9
# Write the code necessary to produce a single list that holds all fruits then all vegetables in the order as they were sorted above.

assert fruits_and_veggies == ['tomato', 'strawberry', 'mango', 'kiwi', 'guava', 'banana', 'broccoli', 'carrot', 'cauliflower', 'eggplant', 'tomato', 'zucchini']
print("Exercise 9 is correct")

# Functions
 Be sure to `return` values from your function definitions. The assert statements will call your function(s) for you.

In [16]:
# Run this cell in order to generate some numbers to use in our functions after this.
import random

positive_even_number = random.randrange(2, 101, 2)
negative_even_number = random.randrange(-100, -1, 2)

positive_odd_number = random.randrange(1, 100, 2)
negative_odd_number = random.randrange(-101, 0, 2)
print("We now have some random numbers available for future exercises.")
print("The random positive even number is", positive_even_number)
print("The random positive odd nubmer is", positive_odd_number)
print("The random negative even number", negative_even_number)
print("The random negative odd number", negative_odd_number)

We now have some random numbers available for future exercises.
The random positive even number is 26
The random positive odd nubmer is 61
The random negative even number -38
The random negative odd number -31

In [18]:
def say_hello(name) :
   print("Hello, " + name + "!")

print("The example function definition ran appropriately")

The example function definition ran appropriately

In [ ]:
# Example function defintion:
# Write a say_hello function that adds the string "Hello, " to the beginning and "!" to the end of any given input.
def say_hello(name):
    return "Hello, " + name + "!"

assert say_hello("Jane") == "Hello, Jane!", "Double check the inputs and data types"
assert say_hello("Pat") == "Hello, Pat!", "Double check the inputs and data types"
assert say_hello("Astrud") == "Hello, Astrud!", "Double check the inputs and data types"
print("The example function definition ran appropriately")

The example function definition ran appropriately

In [21]:
def plus_two(number):
    return number + 2
print("The plus_two assertions executed appropriately... The second function definition example executed appropriately.")

The plus_two assertions executed appropriately... The second function definition example executed appropriately.

In [ ]:
# Another example function definition:
# This plus_two function takes in a variable and adds 2 to it.
def plus_two(number):
    return number + 2

assert plus_two(3) == 5
assert plus_two(0) == 2
assert plus_two(-2) == 0
print("The plus_two assertions executed appropriately... The second function definition example executed appropriately.")

The plus_two assertions executed appropriately... The second function definition example executed appropriately.

In [22]:
def add_one(number) :
  return number+1
print("Exercise 10 is correct.")

Exercise 10 is correct.

In [ ]:
# Exercise 10
# Write a function definition for a function named add_one that takes in a number and returns that number plus one.


assert add_one(2) == 3, "Ensure that the function is defined, named properly, and returns the correct value"
assert add_one(0) == 1, "Zero plus one is one."
assert add_one(positive_even_number) == positive_even_number + 1, "Ensure that the function is defined, named properly, and returns the correct value"
assert add_one(negative_odd_number) == negative_odd_number + 1, "Ensure that the function is defined, named properly, and returns the correct value"
print("Exercise 10 is correct.")

In [23]:
def _odd(number) :
  return number %2 != 0
print("Exercise 11 is correct.")

Exercise 11 is correct.

In [ ]:
# Exercise 11
# Write a function definition named is_odd that takes in a number and returns True or False if that number is odd.

assert is_odd(positive_odd_number) == True, "Ensure that the function is defined, named properly, and returns the correct value"
assert is_odd(positive_even_number) == False, "Ensure that the function is defined, named properly, and returns the correct value"
assert is_odd(negative_odd_number) == True, "Ensure that the function is defined, named properly, and returns the correct value"
assert is_odd(negative_even_number) == False, "Ensure that the function is defined, named properly, and returns the correct value"
print("Exercise 11 is correct.")

In [26]:
def _positive_even(number ) :
  return number %2 == 0 and number > 0
print("Exercise 12 is correct.")

Exercise 12 is correct.

In [ ]:
# Exercise 12
# Write a function definition named is_positive_even that takes in a number and returns True or False if the value is both greater than zero and even

assert is_positive_even(4) == True, "Double check your syntax and logic"
assert is_positive_even(positive_odd_number) == False, "Double check your syntax and logic"
assert is_positive_even(positive_even_number) == True, "Double check your syntax and logic"
assert is_positive_even(negative_odd_number) == False, "Double check your syntax and logic"
assert is_positive_even(negative_even_number) == False, "Double check your syntax and logic"
print("Exercise 12 is correct.")

In [27]:
def double(number) :
  return number*2
print("Exercise 13 is correct")

Exercise 13 is correct

In [ ]:
# Exercise 13
# Write a function definition named double that takes in a number and returns double the provided number.

assert double(4) == 8
assert double(5) == 10
assert double(positive_odd_number) == positive_odd_number * 2
assert double(positive_even_number) == positive_even_number * 2
assert double(negative_odd_number) == negative_odd_number * 2
assert double(negative_even_number) == negative_even_number * 2
print("Exercise 13 is correct.")

In [28]:
def sum_of_squares(num1,num2) :
  return num1*num1 + num2*num2
print("Exercise 14 is correct")

Exercise 14 is correct

In [ ]:
# Exercise 14
# Write a function definition named sum_of_squares that takes in two numbers, squares each number, then returns the sum of both squares.

assert sum_of_squares(3, 2) == 13
assert sum_of_squares(5, 2) == 29
assert sum_of_squares(2, 4) == 20
print("Exercise 14 is correct.")

# Functions with Strings
I recommend you go through the two google colab files I have shared if you have difficulty in this.

In [29]:
def _vowels(string):
  return string.count("a") + string.count("e") + string.count("i") + string.count("o") + string.count("u")
print("Exercise 15 is correct.")

Exercise 15 is correct.

In [ ]:
# Exercise 15
# Write a function definition named has_vowels that takes in value and returns True if the string contains any vowels.

assert has_vowels("banana") == True
assert has_vowels("ubuntu") == True
assert has_vowels("QQQQ") == False
assert has_vowels("wyrd") == False
print("Exercise 15 is correct.")

In [30]:
def count_vowels(string):
  return string.count("a") + string.count("e") + string.count("i") + string.count("o") + string.count("u")
print("Exercise 16 is correct")

Exercise 16 is correct

In [ ]:
# Exercise 16
# Write a function definition named count_vowels that takes in value and returns the count of the nubmer of vowels in a sequence.

assert count_vowels("banana") == 3
assert count_vowels("ubuntu") == 3
assert count_vowels("mango") == 2
assert count_vowels("QQQQ") == 0
assert count_vowels("wyrd") == 0
print("Exercise 16 is correct.")

In [32]:
def remove_vowels(string):
  return string.replace("a","").replace("e","").replace("i","").replace("o","").replace("u","")
print("Exercise 17 is correct")

Exercise 17 is correct

In [ ]:
# Exercise 17
# Write a function definition named remove_vowels that takes in string and returns the string without any vowels

assert remove_vowels("banana") == "bnn"
assert remove_vowels("ubuntu") == "bnt"
assert remove_vowels("mango") == "mng"
assert remove_vowels("QQQQ") == "QQQQ"
print("Exercise 17 is correct.")

In [33]:
def starts_and_ends_with_vowel(string):
  return string[0] in "aeiou" and string[-1] in "aeiou"
print("Exercise 18 is correct")

Exercise 18 is correct

In [ ]:
# Exercise 18
# Write a function definition named starts_and_ends_with_vowel that takes in string and returns True if the string starts and ends with a vowel

assert starts_and_ends_with_vowel("ubuntu") == True
assert starts_and_ends_with_vowel("banana") == False
assert starts_and_ends_with_vowel("mango") == False
print("Exercise 18 is correct.")

# Accessing List Elements

In [34]:
def first(lst) :
  return lst[0]
print("Exercise 19 is correct")

Exercise 19 is correct

In [ ]:
# Exercise 19
# Write a function definition named first that takes in sequence and returns the first value of that sequence.

assert first("ubuntu") == "u"
assert first([1, 2, 3]) == 1
assert first(["python", "is", "awesome"]) == "python"
print("Exercise 19 is correct.")

In [35]:
def last(list) :
  return list[-1]
print("Exercise 20 is correct")

Exercise 20 is correct

In [ ]:
# Exercise 20
# Write a function definition named last that takes in sequence and returns the last value of that sequence.

assert last("ubuntu") == "u"
assert last([1, 2, 3, 4]) == 4
assert last(["python", "is", "awesome"]) == "awesome"
assert last(["kiwi", "mango", "guava"]) == "guava"
print("Exercise 20 is correct.")

In [36]:
def first_and_second(list) :
  return list[0:2]
print("Exercise 21 is correct")

Exercise 21 is correct

In [ ]:
# Exercise 21
# Write a function definition named first_and_second that takes in sequence and returns the first and second value of that sequence as a list

assert first_and_second([1, 2, 3, 4]) == [1, 2]
assert first_and_second(["python", "is", "awesome"]) == ["python", "is"]
assert first_and_second(["strawberry", "kiwi", "mango", "guava"]) == ["strawberry", "kiwi"]
print("Exercise 21 is correct.")

In [37]:
def last_and_second(list) :
  return list[-2:]
print("Exercise 22 is correct")

Exercise 22 is correct

In [ ]:
# Exercise 22
# Write a function definition named first_to_last that takes in sequence and returns the sequence with the first value moved to the end of the sequence.

assert first_to_last([1, 2, 3, 4]) == [2, 3, 4, 1]
assert first_to_last(["python", "is", "awesome"]) == ["is", "awesome", "python"]
assert first_to_last(["strawberry", "kiwi", "mango", "guava"]) == ["kiwi", "mango", "guava", "strawberry"]
print("Exercise 22 is correct.")

# Functions to Describe Data

In [38]:
def sum_all(list) :
  return sum(list)
  print(sum(list))
print("Exercise 23 is correct")

Exercise 23 is correct

In [ ]:
# Exercise 23
# Write a function definition named sum_all that takes in sequence of numbers and returns all the numbers added together.

assert sum_all([1, 2, 3, 4]) == 10
assert sum_all([3, 3, 3]) == 9
assert sum_all([0, 5, 6]) == 11
print("Exercise 23 is correct.")

In [39]:
def mean(list):
  return sum(list)/len(list)
  print(sum(list)/len(list))
print("Exercise 24 is correct")

Exercise 24 is correct

In [ ]:
# Exercise 24
# Write a function definition named mean that takes in sequence of numbers and returns the average value

assert mean([1, 2, 3, 4, 5]) == 3.0
assert mean([1, 2, 3]) == 2.0
assert mean([1, 5, 6]) == 4.0
assert mean([1, 2, 5, 6]) == 3.5
print("Exercise 24 is correct.")

In [41]:
def mode(list) :
  return max(set(list), key = list.count)
print("Exercise 24 is correct")

Exercise 24 is correct

In [ ]:
# Exercise 24
# Write a function definition named mode that takes in sequence of numbers and returns the most commonly occuring value

assert mode([1, 2, 2, 3, 4]) == 2
assert mode([1, 1, 2, 3]) == 1
assert mode([2, 2, 3, 3, 3]) == 3
print("Exercise 24 is correct.")

# Applying Functions to Lists

In [42]:
def get_highest_number(list) :
  return max(list)
print("Exercise 25 is correct")

Exercise 25 is correct

In [ ]:
# Exercise 25
# Write a function definition named get_highest_number that takes in sequence of numbers and returns the largest number.

assert get_highest_number([1, 2, 3]) == 3
assert get_highest_number([-5, -4, -3, -2, -1, 1, 2, 3, 4, 5]) == 5
assert get_highest_number([-5, -3, 1]) == 1
print("Exercise 25 is correct.")

In [43]:
def only_odd_numbers(list) :
  return [num for num in list if num % 2 != 0]
print("Exercise 26 is correct")

Exercise 26 is correct

In [ ]:
# Exercise 26
# Write a function definition named only_odd_numbers that takes in sequence of numbers and returns the odd numbers in a list.

assert only_odd_numbers([1, 2, 3]) == [1, 3]
assert only_odd_numbers([-5, -4, -3, -2, -1, 1, 2, 3, 4, 5]) == [-5, -3, -1, 1, 3, 5]
assert only_odd_numbers([-4, -3, 1]) == [-3, 1]
assert only_odd_numbers([2, 2, 2, 2, 2]) == []
print("Exercise 26 is correct.")

In [44]:
def count_evens(list) :
  return len([num for num in list if num % 2 == 0])
print("Exercise 27 is correct")

Exercise 27 is correct

In [ ]:
# Exercise 27
# Write a function definition named count_evens that takes in sequence of numbers and returns the number of even numbers

assert count_evens([1, 2, 3]) == 1
assert count_evens([2, 5, 6]) == 2
assert count_evens([3, 3, 3]) == 0
assert count_evens([5, 6, 7, 8] ) == 2
print("Exercise 27 is correct.")

In [45]:
def shortest_string(list) :
  return min(list, key=len)
print("Exercise 28 is correct")

Exercise 28 is correct

In [ ]:
# Exercise 28
# Write a function definition named shortest_string that takes in a list of strings and returns the shortest string in the list.

assert shortest_string(["kiwi", "mango", "strawberry"]) == "kiwi"
assert shortest_string(["hello", "everybody"]) == "hello"
assert shortest_string(["mary", "had", "a", "little", "lamb"]) == "a"
print("Exercise 28 is correct.")

# Working with Sets
Take a look at the `set` function in Python, the `set` data type, and built-in `set` methods.

In [46]:
# Example set function usage
print(set("kiwi"))
print(set([1, 2, 2, 3, 3, 3, 4, 4, 4, 4]))

{'i', 'k', 'w'}
{1, 2, 3, 4}

In [47]:
def get_unique_values(list) :
  return set(list)
print("Exercise 29 is correct")

Exercise 29 is correct

In [ ]:
# Exercise 29
# Write a function definition named get_unique_values that takes in a list and returns a set with only the unique values from that list.

assert get_unique_values(["ant", "ant", "mosquito", "mosquito", "ladybug"]) == {"ant", "mosquito", "ladybug"}
assert get_unique_values(["b", "a", "n", "a", "n", "a", "s"]) == {"b", "a", "n", "s"}
assert get_unique_values(["mary", "had", "a", "little", "lamb", "little", "lamb", "little", "lamb"]) == {"mary", "had", "a", "little", "lamb"}
print("Exercise 29 is correct.")

In [48]:
def get_values_in_common(list1,list2) :
  return set(list1).intersection(set(list2))
print("Exercise 30 is correct")

Exercise 30 is correct

In [ ]:
# Exercise 30
# Write a function definition named get_values_in_common that takes two lists and returns a single set with the values that each list has in common

assert get_values_in_common([5, 1, 2, 3], [3, 4, 5, 5]) == {3, 5}
assert get_values_in_common([1, 2], [2, 2, 3]) == {2}
assert get_values_in_common(["tomato", "mango", "kiwi"], ["eggplant", "tomato", "broccoli"]) == {"tomato"}
print("Exercise 30 is correct.")